
@font-face {
  font-family: 'PixelifySans-Bold';
  src: url(PixelifySans-Bold.ttf) format('woff2');
 }

html {
  font-family: 'PixelifySans-Bold';
 }

button {
  font-family: 'PixelifySans-Bold';
 }

header {
  margin: 0.2rem;
  padding: 0.2rem;
 }

 canvas{
    padding: 0;
    margin: auto;
    display: block;
    max-height: 30em;
    max-width: 40em;
    margin-top: 1rem;
}

.game-container{
    display: grid;
    grid-template-columns: 1fr;
 }

#button-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
 }

#button-container button {
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  border-radius: 1em;
  background-color: lightblue;
 }

.game-status{
    display: grid;
    grid-template-columns: auto auto;
}

#days-elapsed-text{
    font-size: small;
}

#cash-reserves-text{
    justify-content: center;
}

.game-controls{
    border-radius: 30em 60em;
    max-height: 10em;
}

/*  buttons */

.start-game-button{
    margin: 1em;
    padding: 1em;
}

dialog {
  margin: auto;
  min-width: 50%;
  max-width: 50%;
  min-height: 30%;
}

@media screen {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    canvas {
        max-width: 100%;
        max-height: auto;
    }
}