/* element edges to be removed when finished */

@font-face {
  font-family: 'PixelifySans-Bold';
  src: url(PixelifySans-Bold.ttf) format('woff2');
 }

div, main{
    border: 2px solid red;
}

/* GUI */

.game-container{
    display: grid;
    grid-template-columns: 50% 50%;

}

.image-viewer{
    margin: auto;

}

.game-status{
}

.game-controls{
    border-radius: 30em 60em;
}

/*  buttons */

.start-game-button{
    margin: 1em;
    padding: 1em;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
}
.test-ticker-button{
    margin: 1em;
    padding: 1em;
}

#id {

}
